*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navbarColor: #A88BEB;
    --borderColor: #F8CEEC;
    --backgroundShade: rgba(128, 128, 128, 0.082) ;
    --text-color: #555;
    --text-grey: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}
body{
    background-color: var(--backgroundShade);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Navbar */
.navBArColor{
    background-color: var(--navbarColor);
    color: white;
    font-weight: bolder;
    font-size: larger;
}
.navBArColor a{
    color: white;
    
}
.navBArColor a:hover{
    color: white;
}

.loginBtn{
    text-decoration: none;
}

.loginBtn:hover{
    cursor: pointer;
    text-decoration: underline;
    


}
.loginBtn:active{
    scale: 1.1;

}

/* headingSignup */

.headingSignup{
    /* border: 3px solid red; */
    background-color: white;
    padding: 20px 60px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: var(--navbarColor);
}

/* signUpBody */

.signUpBody{
    background-color: var(--backgroundShade);
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    

    /* Left body */
    
    }
    .leftbody{
      
        height: 100vh;
        /* border: 2px solid green; */
    }
    .postDiv{
        background-color: white;
        padding: 15px;
        border-radius: 10px;

    }
    .blogPicture{
        border-radius: 10px;
        /* border: 2px solid green; */
        
    }


    /* Right body */

    
   .titleNameTime{
    /* border: 2px solid green; */
    padding-top: 8px;
   }
   .titleNameTime span{
    margin-right: 5px;
    color: var(--text-grey);
   }
   .contentDiv{
        /* border: 2px solid green; */
        margin-top: 10px;


   }
   .contentDiv p{

    margin-bottom: 5px;
   }
   .titleNameTime{
   font-size: small;

   }
   .titleNameTime h6{
    font-size: small;
    font-weight: 700;
 
    }
   .contentDiv{
    font-size: small;
   }

   /* Right Div Setting */
   .rightBody{
    
    height: 100vh;
    margin-top: 100px;
    /* border: 2px solid green; */
}


   .profileImage{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    float: right;

   }
.rightBody a{
    color: var(--navbarColor);
    float: right;
}
.rightBody h3{
    color: var(--navbarColor);
    float: right;
}
   
   
