* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbarColor: #a88beb;
  --borderColor: #f8ceec;
  --backgroundShade: rgba(128, 128, 128, 0.082);
  --text-color: #555;
  --text-grey: #999;
  --black-color: #000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
}
body {
  background-color: var(--backgroundShade);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* Navbar */
.navBArColor {
  background-color: var(--navbarColor);
  color: white;
  font-weight: bolder;
  font-size: larger;
}
.navBArColor a {
  color: white;
}
.navBArColor a:hover {
  color: white;
}

.loginBtn {
  text-decoration: none;
}

.loginBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.loginBtn:active {
  scale: 1.1;
}

/* headingSignup */

.headingSignup {
  /* border: 3px solid red; */
  background-color: white;
  padding: 20px 60px;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: var(--navbarColor);
}

/* signUpBody */

.signUpBody {
  background-color: var(--backgroundShade);
  /* height: 100vh; */
  display: flex;
  justify-content: center;

  /* Left body */
}
.leftbody {
  height: 100vh;
  /* border: 2px solid green; */
}
.postDiv {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.blogPicture {
  border-radius: 10px;
  /* border: 2px solid green; */
}

/* Right body */

.titleNameTime {
  /* border: 2px solid green; */
  padding-top: 8px;
}
.titleNameTime span {
  margin-right: 5px;
  color: var(--text-grey);
}
.contentDiv {
  /* border: 2px solid green; */
  margin-top: 10px;
}
.contentDiv p {
  margin-bottom: 5px;
}
.titleNameTime {
  font-size: small;
}
.titleNameTime h6 {
  font-size: small;
  font-weight: 700;
}
.contentDiv {
  font-size: small;
}

.signUpBtn {
  /* border: 2px solid greenyellow; */
  width: 130px;
  font-size: small;
  font-weight: bold;
  color: white;
  background-color: var(--navbarColor);
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
}
.signUpBtn:active {
  scale: 1.1;
}

.postDataDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 15px;
  padding: 50px;
  border-radius: 10px;
}
.postDataDiv input{
    height: 40px;
    border-radius: 10px;
    margin: 10px ;
    padding: 10px 20px;
    width: 250px;
}


.useName{
  margin-left: 12px;
  font-size: 20px;
}
.profileImage{
  width: 200px;
  border-radius: 10px;
  margin-left: 12px;

}
.editPenimg{
  position:absolute;
  height: 25px;
  width: 25px;
  /* border: 2px solid green; */
  margin-top: 22%;
  margin-left: 22%;
  z-index: 1;
  cursor: pointer;
  
}
.editPenimgName{
  position:absolute;
  height: 22px;
  width: 22px;
  /* border: 2px solid green; */
  margin-top: 2.5%;
  margin-left: -6%;
  z-index: 1;
  cursor: pointer;
}